.contact-page {
  font-family: "Poppins", sans-serif;
}

.contact-page .container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-page h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  animation: fadeInDown 1s;
}

.contact-page p {
  color: #666;
  line-height: 1.6;
  animation: fadeIn 1s;
}
.contact-page .contact-form {
  margin-top: 30px;
  animation: fadeInUp 1s;
}
.contact-page .form-group {
  margin-bottom: 20px;
}
.contact-page .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.contact-page .form-group input[type="text"],
.contact-page .form-group input[type="email"],
.contact-page .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.contact-page .form-group textarea {
  height: 150px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.contact-page .form-group input[type="submit"] {
  background-color: #0051ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.contact-page .form-group input[type="submit"]:hover {
  background-color: #286cff;
}
.contact-page .social-icons {
  text-align: center;
  margin-top: 30px;
  animation: fadeInUp 1s;
}
.contact-page .social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #333;
  font-size: 24px;
  transition: color 0.3s;
}
.contact-page .social-icons a:hover {
  color: #0051ff;
}
